{% extends "layout.html" %} {% block title %} Book Details {% endblock %} {%
block body %}
<h1>{{ book.title }} by {{ book.author }}</h1>
<br />
<div>
  <b>Title:</b> {{ book.title }}<br />
  <b>Author:</b> {{ book.author }}<br />
  <b>Year:</b> {{ book.year }}<br />
  <b>ISBN:</b> <a href="https://www.amazon.com/s?k={{ book.isbn }}&ref=nb_sb_noss"> {{ book.isbn }} </a><br />
  <b>Goodreads Average Review:</b> <a href="https://www.goodreads.com/search?q={{ book.isbn }}">{{ book_rating }}</a><br />
  <div>
    <br />
    <div class="bg-light">
      {% if reviews %}
      {% for reviews in reviews %}
      <div class="mb-1">
        <b>{{ reviews.username }}</b> gave <b>{{ reviews.stars }}</b> and said: {{ reviews.review }}
      </div>
      {% endfor %}
      {% else %}
      <p>No one has left a review yet.</p>
    {% endif %}
    </div>
    <br />
    <h4>Review book</h4>
    <div></div>
    <form action="{{ url_for('review', mybooks_id=book.id) }}" method="post">
      <p>How many stars?</p>
      <select name="stars">
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
      </select>
      <br />
      <textarea
        type="textarea"
        name="review"
        placeholder="Enter review here"
        rows="4"
        cols="50"
        draggable="true"
      ></textarea>
      <br />
      <button class="btn btn-primary btn-large btn-block">Submit Review</button>
    </form>
    <br />
    <br />
    <form action="{{ url_for('logout') }}" method="post">
      <div class="form-group">
          <button class="btn btn-primary">Logout</button>
      </div>
    {% endblock %}
  </div>
</div>
